<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PushingSegues.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B5BA3D71BD01801006F990F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5BA3F01BD01801006F990F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5BA3FB1BD01801006F990F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
