<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>textFlipper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>562235691BC831D600BCDE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>562235821BC831D600BCDE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5622358D1BC831D600BCDE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
