<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>individualProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>568F2D071BBB4A5100776AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568F2D201BBB4A5100776AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568F2D2B1BBB4A5100776AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
